@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-VariableFont.woff2') format('woff2'),
         url('/fonts/Inter-VariableFont.woff') format('woff');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Dark Paradise';
    src: url('/fonts/DarkParadise-Italic.woff2') format('woff2'),
         url('/fonts/DarkParadise-Italic.woff') format('woff');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

.text-sans {
    @apply font-inter font-medium;
    letter-spacing: -0.04em;
}

.text-fancy {
    @apply font-dark-paradise italic;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    @apply bg-white;
    @apply overflow-x-hidden;
    @apply text-sans text-black;
    overflow: hidden;
}